.swiper-pagination{
    position: absolute;
    top: 90%;
    margin: 0;
}
.swiper-pagination-bullet{
    width: 20px;
    height: 20px;
    border: solid white 2px;
    background: transparent;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background: green;
    opacity: 1;
    border: transparent;
}